[2021-05-17 17:39] Benjamin-Etheredge opened #1 "Is it possible to use metrics/plots/data from the local S3-compatible storage?"
The current studio seems to only support AWS s3. Support for other s3-compatible APIs (like minIO) would be awesome.

[2021-05-17 20:32] jorgeorpinel commented on #1
Q: If you setup an S3-compatible storage manually/locally (via https://dvc.org/doc/command-reference/remote/add) will Studio pick it up? Or any remote for that matter

[2021-05-17 23:39] shcheklein commented on #1
Only if it's accessible from the machines that run Studio. If it's under firewall, NAT, local IP - etc, there is no way we can access it. Some proxy is required then.

Benjamin had a good point about saving at least certain artifacts into some externally accessible remotes, but that would ideally require some DVC support on the https://github.com/iterative/dvc/issues/4040 . @Benjamin-Etheredge fee

[2021-05-18 00:02] jorgeorpinel commented on #1
I see. And MinIO is usually run in a local machine or network, right?

@Benjamin-Etheredge as a workaround for now you could try something like [Ngrok](https://ngrok.com/docs#tcp) or [Traefik](https://doc.traefik.io/traefik/) ([article](https://itnext.io/deploy-on-premise-s3-storage-using-qnap-nas-minio-and-traefik-bccbfefe511d)) to expose the local Minio service to the Internet (free, I think) —

[2021-05-19 20:28] jendefig opened #2 "Can't delete account or disconnect from Github"
Hi Guys.  So prepping to do videos.  Need to delete my account or disconnect from Github so I can do a get started video.  When I delete my account:
![image](https://user-images.githubusercontent.com/34289199/118878988-0bae0280-b8a5-11eb-947c-18493f89dd9c.png)

I then am redirected to main page, but when I click on Github to get started.
![image](https://user-images.githubusercontent.com/34289199/

[2021-05-19 20:41] mvshmakov opened #3 "View settings fails because of the custom configuration of chosen columns"
The user can't open the view settings page after setting the custom set of chosen columns.

The issue was created from the Papercups support channel, intended to be closed after the fix is shipped.

[2021-05-20 07:02] Suor commented on #1
Besides Minio there are cloud alternatives too. Anything DVC already works with should work in Studio too, using same settings and credentials.

[2021-05-21 05:06] jorgeorpinel commented on #1
I think the key word in the issue title is "local". In that case Studio won't work with the (local) storage since it's not local or even available to Studio.

But yeah I don't suppose we're trying to solve that, which is a networking situation really. So Idk if this issue is actionable.

[2021-05-21 05:07] jorgeorpinel commented on #1
But yeah I don't suppose we're trying to solve that which is a networking situation really. So Idk if this issue is actionable.

[2021-06-01 01:57] shcheklein commented on #3
@mvshmakov hey, do you know if it is fixed? Have we communicated back?

[2021-06-01 13:58] aguschin opened #4 "Feature request: allow to select "default" branch"
If you have no .dvc in the master branch, Studio won't parse it, for example:
<img width="590" alt="image" src="https://user-images.githubusercontent.com/6797716/120333418-56456b00-c2f8-11eb-9908-d02daad128f1.png">

Suggestion: add an option to select some branch to be "default", probably in the repo settings in Studio.

Motivation: This could be inconvenient if you already have a repo without dvc

[2021-06-01 15:19] Suor commented on #4
Alternatively we can simply parse all branches having `.dvc` in display them. No user input needed.

[2021-06-02 09:14] aguschin commented on #4
@Suor, sounds good! But doesn't Studio use some branch as baseline to show other branches against that one? Or this also could be decided automatically?

[2021-06-02 17:51] mvshmakov commented on #3
That is fixed. @courentin sorry for the late response, but you may check out things in Studio, it should work properly now. Feel free to contact us about anything you have in mind ;)

[2021-06-02 17:51] #3 closed, assigned to mvshmakov

[2021-06-03 06:32] Suor commented on #4
The HEAD - a tip of a default branch - is used as a baseline, but any other commit may set as one. Not sure we allow no baseline at all, but we may simply choose the longest branch and its tip if we need to. The same for history flattening.

[2021-06-04 07:00] aadeg opened #5 "Not all repositories are showen using Gitlab"
In the `Add a view` page I can't find some of the repositories that I have on Gitlab. I tried to search the missing repositories using the search bar at the top of the page, but I didn't find any of them.
I'm the owner of the missing Gitlab repository so I don't think is a permission issue.

## Expected Behavior
In the `Add a view` page all the repositories from Gitlab have to be displayed.

## Cu

[2021-06-04 07:06] Suor commented on #5
Thanks for getting in touch. I looked at the code and it's possible pagination is the culprit. How many repos do you have there?

[2021-06-04 07:13] aadeg commented on #5
I don't have an exact number, but about 100.

[2021-06-04 07:31] Suor commented on #5
Anyway, we'll look into it.

[2021-06-04 19:52] shcheklein opened #6 "Plots: an error has occurred: Field 'Metric' does not exist in provided data"
Is it something I should fix on my end or is it a known issue?

[2021-06-07 05:39] Suor commented on #6
This is an error within a repo, i.e. a csv-file doesn't have `Metric` column. Command line DVC will show the same error on `dvc plots show rev1 rev2 rev_affected`. Since we reuse the same code in Studio we can't constrain the error to a particular plot nor to a  revision, at least without significant focus on plots in Studio.

[2021-06-07 05:42] shcheklein commented on #6
@Suor can we detect which plot (commit) is broken and ignore it?

[2021-06-07 05:43] Suor commented on #6
It might and probably will require changes to DVC code too and then corresponding changes in Studio, so not a quick fix. Everything is possible of cause)

[2021-06-07 05:46] shcheklein commented on #6
@Suor lets initiate this process on the DVC end. We need at least know which one is broken so that we can show that one.

Another idea - while we are parsing commits - could we run some "health" checks on our end to detect this?

[2021-06-07 05:50] Suor commented on #6
We can. It might be expensive though. Also, will require Studio know they more about DVC plots internals or DVC exposing some more stuff or both.

As I said properly handling this will require significant focus on plots.

[2021-06-07 11:02] #5 closed, assigned to nobody

[2021-06-07 11:24] Suor commented on #5
Fix released. @aadeg do you see all your repos now?

[2021-06-08 09:13] aadeg commented on #5
Fixed. Thanks :+1:

[2021-06-08 14:43] plptPredict opened #7 "Azure repos support"
It would be intresting to get support from other git repos such as Azure.
I really look forward to try Studio!

[2021-06-08 15:32] shcheklein commented on #7
@plptPredict thanks! We'll prioritize this as soon as we can. (absolutely optional, only if you don't follow updates to this ticket) Please ping me at ivan @ iterative.ai so that I know how to followup with you when this is done.

[2021-06-08 20:54] nside opened #8 "Gerrit support"
I'd like to use CML / Studio on a vanilla Git repo that uses Gerrit for code review

[2021-06-08 21:16] ivyleavedtoadflax opened #9 "Metrics from today do not show in Trends"
I have a model run from today at 09:33 which which is not showing up in the trend plots when i select '1 week', '1 month' or '1 year':

![image](https://user-images.githubusercontent.com/4583655/121258587-1690fd00-c87d-11eb-9102-86c302f7ae5b.png)

It does appear when i select 'all time' (see brown dot to the far right):

![image](https://user-images.githubusercontent.com/4583655/121258638-24df1900

[2021-06-08 21:23] ivyleavedtoadflax opened #10 "Selected columns change when I open a new PR"
I have a very large number of metrics that I filter down to 12 using the tracking scope (those that contain the word weighted):

![image](https://user-images.githubusercontent.com/4583655/121259363-04638e80-c87e-11eb-95a2-953fb9bba2a9.png)

However, sometimes I see columns in the view which are not selected in the tracking scope.

![image](https://user-images.githubusercontent.com/4583655/12125954

[2021-06-09 07:52] Suor commented on #10
@ivyleavedtoadflax you selecting 12 columns in tracking scope doesn't mean anything else won't be parsed, this means that those 12 are guaranteed. If you simply want to hide some columns you can do it on a view page, this will happen immediately not requiring reimporting your repo or even refreshing the page. You can save that setting with a "Save changes" button in the top right part.

That said,

[2021-06-09 07:55] Suor commented on #9
I also see that long branch names are displayed poorely.

[2021-06-09 10:50] ivyleavedtoadflax commented on #10
Thanks @Suor . Is it intended that I would need to reset the columns each time I make a PR?

I guess my use case is that:
1. I have a very large number of metrics
2. It's quite painful to try to select these in the columns tab in the view, especially if I need to do this each time I submit a PR.
3. I want to limit the columns that appear in the view either in the scope or in the columns (actually

[2021-06-09 19:03] ivyleavedtoadflax commented on #9
Additionally if you have the same metric name e.g. `weighted avg.f1-score` in multiple columns, it's not clear which plot refers to which column.

[2021-06-10 05:36] Suor commented on #9
Real data always challenges the initial design. I guess we'll need to make labels smart to show differing parts, although we still have a bit vertical space in your case to simply prefix them.

[2021-06-10 07:10] Suor commented on #10
Tracking scope does not limit columns despite how it might look, it guarantees them. So trying using that for limiting won't really work.

Columns once hidden on a view page should not reappear given you saved changes. If they do then that is a bug.

On that being painful I remember that we had filtering those in some of the designs. Did we decide to not implement this or is this still in works, @

[2021-06-10 09:38] ssachkovskaya commented on #10
That's true. @ivyleavedtoadflax Could you please confirm that you clicked on the button "Save changes" once the columns visibility was set? Otherwise it is going to be reset next time you visit the page.

![image](https://user-images.githubusercontent.com/10098879/121502249-473d7780-c9e0-11eb-9f7f-dfd305046517.png)

@Suor Filtering the columns on the view page will be implemented, it is still in d

[2021-06-10 13:53] ivyleavedtoadflax commented on #10
Thanks @ssachkovskaya you're right, I think I was failing to save the view after making changes. I guess the feedback from this is that it was not 100% clear that I needed to click save to preserve the changes (actually, I'm not sure I noticed the save button at all).

[2021-06-10 13:53] ivyleavedtoadflax commented on #10
Got it, thanks. Being able to filter columns like you filter scopes would be super helpful.

[2021-06-10 14:28] ssachkovskaya commented on #10
Yeah, you are right that it's not clear enough. We are already discussing how to improve this.
Thanks for your feedback!

[2021-06-10 14:45] arcticbear commented on #9
@ivyleavedtoadflax Thank you for noticing that and for the feedback! What additional information in the plot labels would help to make that clearer for you? For example, file name as a prefix for the metric name, would it works?

[2021-06-10 14:49] arcticbear commented on #9
@iterative/studio-frontend, we should fix alignments between checkboxes and their text labels in case of extremely long texts, see example below:
<details><summary>Example</summary>
<img width="960" alt="" src="https://user-images.githubusercontent.com/1275731/121543805-e333a700-ca11-11eb-8656-372391a9e78a.png">
</details>

[2021-06-10 14:55] ivyleavedtoadflax commented on #9
No worries :+1: Enjoying working with it!

I guess the sensible thing would to be to refer to to the file from which the metrics came.

One a side note it would also be great to be able to resize the trends window to see the plots larger.

[2021-06-10 17:44] ivyleavedtoadflax commented on #1
Maybe I misunderstood, but will studio read metrics from S3 out of the box? So far I've set all my metrics to `cache=false` so it has been reading them from github, but would be great if it could read them from S3

[2021-06-11 22:19] shcheklein commented on #1
@ivyleavedtoadflax yes, it can read them from S3, so you can set `cache=true` and add credentials via Studio UI. Please give it a try, let us know if something doesn't work for you.

[2021-06-11 22:49] ivyleavedtoadflax commented on #1
Works great 👍

[2021-06-14 16:18] duijf opened #11 "Plots `Template ".dvc/plots/calibration" is not found in HEAD`"
A user reported a problem with plots not being able to load a custom template of theirs. Have taken a preliminary look, but couldn't figure out a cause immediately. Will continue investigating tomorrow.

Meta:

 - The user contacted us via Papercups.
 - Sentry link: https://sentry.io/organizations/iterative/issues/2449979663/?project=5175210

[2021-06-14 16:47] arjvik opened #12 "Self-hosted (custom domain) GitLab support"
Studio already supports Gitlab.com, but it would be very helpful if it supported publically-accessible but self-hosted Gitlab instances as well!

[2021-06-15 11:39] daavoo opened #13 "Add `live` metrics support"
When working on some deep learning problems, it's common to have experiments running for hours (or even days). Some alternatives to `Studio` (i.e. wandb or mlflow) have some sort of "view" for individual experiments that is being updated as the training goes on.

Within the "iterative ecosystem" there is the possibility of using [`dvclive` with `DVC`](https://dvc.org/doc/dvclive/dvclive-with-dvc)

[2021-06-15 11:41] daavoo commented on #13
Without knowing details about the how `Studio` is implemented, this might be related to https://github.com/iterative/dvclive/issues/90 or even https://github.com/iterative/dvclive/issues/91, given that as far as I know `Studio` already detects CML comments

[2021-06-15 11:56] duijf commented on #11
I have managed to reproduce this one. The user has a `dvc.yaml` with a config like this:

[code]

When Studio parses templates from the repository, we loop over files in `.dvc/plots` and store the plot data as `custom.json` instead of `.dvc/plots/custom.json`. That also means that we don't currently support plots stored in directories other than `.dvc/plots`, while DVC does work with those.

As a

[2021-06-15 12:20] arcticbear commented on #9
@ivyleavedtoadflax I'm just wondering because we're already working on those improvements and features. Every little detail 'from the fields' might be helpful and valuable. Thank you for the feedback and suggestions!

[2021-06-15 13:44] ivyleavedtoadflax commented on #9
This looks like it is fixed now @arcticbear, thanks! I'll keep you posted on any additional issues I run into.

[2021-06-15 13:50] Suor commented on #11
Should first confirm that this should work in DVC at all. Docs are saying nothing about that.

[2021-06-15 14:51] duijf commented on #11
Filed https://github.com/iterative/dvc/issues/6179 with DVC

[2021-06-16 13:29] aguschin opened #14 "Authentication to Azure Blob Storage via None failed"
After force import of this repo https://github.com/iterative/yolov5 I can see the error on that authentication to azure blob storage wasn't successful.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/6797716/122226460-aeff3100-cebe-11eb-8c5d-458bd9c0b481.png">

But then it seems like Studio don't recognise this is necessary (no hint in settings), and when I add the cr

[2021-06-17 08:48] duijf commented on #14
Looks like this one is related to an internal PR: https://github.com/iterative/viewer/pull/2186

CC @Suor

[2021-06-17 09:28] Suor commented on #14
The error is not properly recognized as missing or bad credentials one, I am working on that now. However, setting connection string should work. As far as I see none of your views are linked to any credentials so far.

[2021-06-17 09:39] Suor commented on #14
Looks like it works on dev after using that connection string. BTW, you don't need to forcefully reimport on credentials change, a new import will be done for you automatically. Maybe you didn't click "Save changes" after selecting credentials? This is far from intuitive now that View settings page have grown and the "Save changes" button may be out screen. @arcticbear

[2021-06-18 12:03] aguschin commented on #14
@Suor
The credentials are saved. It’s interesting that the error disappeared, but after Force Import it is there again.

[2021-06-18 12:55] aguschin commented on #14
@Suor, can this be because I keep credentials in .env file which is not committed to repo? I think those credentials aren’t mentioned anywhere except that file. That credential necessity could only be implied by seeing “azure” in .dvc/config

[2021-06-18 13:44] aguschin commented on #14
@Suor, it seem to work on dev environment now. Thanks!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/6797716/122569347-5319e100-d053-11eb-9d39-9e5d7342bd79.png">

[2021-06-18 14:58] aguschin opened #15 "Hide branches without any metric values"
In case there a lot of branches which have nothing related to dvc, View becomes very polluted. If I not mistaken, you can't do anything useful or get any useful information from these branches (though maybe having .dvc in the default repo branch allows to track metrics in files in other branches, IDK about this).

To get an example, import this repo: https://github.com/iterative/yolov5
Or see the

[2021-06-18 15:24] shcheklein commented on #15
@aguschin thanks, makes total sense to me that we need to hide them by default.

[2021-06-21 07:54] Suor commented on #15
This is only the case if the default branch doesn't have `.dvc` or only get it recently. Not very common scenario.

[2021-06-21 07:55] Suor commented on #15
A way to hide branches would be helpful though disregarding whether they have any data or not. You may give up on many older branches but never delete them.

[2021-06-21 08:27] Suor commented on #14
Fix released.

[2021-06-21 08:27] #14 closed, assigned to nobody

[2021-06-21 12:16] daavoo opened #16 "Table data columns: show more information about imported data (`rev`, `source`, etc)"
When a data file has been imported/updated using the `--rev` option of `dvc import`/`dvc update` , a `rev` subfield is being added to the `.dvc` file (See [Example: Importing and updating fixed revisions](https://dvc.org/doc/command-reference/import#example-importing-and-updating-fixed-revisions)).

I think that, in cases where it exists, showing or allowing to show the value of `rev` could be mor

[2021-06-21 18:44] shcheklein commented on #6
@Suor please confirm - it should be partially solved? @Benjamin-Etheredge I think you had this problem, could you please check that it works now for you?

[2021-06-21 18:50] shcheklein commented on #16
Thanks @daavoo ! It makes sense. Columns already have different possible representations:

<img width="266" alt="Screen Shot 2021-06-21 at 11 46 13 AM" src="https://user-images.githubusercontent.com/3659196/122812308-5f39b480-d286-11eb-866f-001ff2bdae9e.png">

Also tooltips:

<img width="515" alt="Screen Shot 2021-06-21 at 11 47 34 AM" src="https://user-images.githubusercontent.com/3659196/1228124

[2021-06-21 21:38] janchk opened #17 "Nested branches in DVC Studio GUI"
The bug occurs when DVC Studio tries to show branch that has no unique commits that differ form branch that current branch was created from.
Let me give you an example:

![Example](https://i.ibb.co/B48FTs7/git-dvc.png)

So, looks like "Some branch" is nested in Master and all commits of "Some branch" belongs to master. And DVC Studio shows it that way.
But this isn't correct. "Some branch" is a se

[2021-06-22 05:38] Suor commented on #6
Yes, the fix was shipped. We show whatever we can show now. We won't show this error though.

[2021-06-22 09:14] #6 closed, assigned to Suor

[2021-06-22 10:07] jellebouwman commented on #9
@ivyleavedtoadflax I've been looking at the initial bug you reported: metrics from experiments run today are only showing up in the `All time` view. I've been able to reproduce this behavior, but in a very specific use case.

1.  I run an experiment from the Studio application, and add the commit to a new branch.
2. While waiting on the experiment, _I do not close the app_
3. After the experiment

[2021-06-22 13:36] ivyleavedtoadflax commented on #9
Hi @jellebouwman, that sounds incredibly specific. These are my recollections of how I experienced the big:

No, in my case I was launching the experiments using the CML github action with an AWS runner.

Yes, this is likely.

No, I was selecting just the main and the new branch as shown in the images I posted above.

No, I did not receive the `No data to show` message

No, I failed to see the inf

[2021-06-22 13:58] jellebouwman commented on #9
Thank you for the elaborate response @ivyleavedtoadflax! Seems like the bug I described pertains to a different edge case. I have opened an internal ticket for this where we will address this.

In regards to this ticket, if your specific issue has been resolved, I think we should close this ticket for now. Please, feel free to re-open this if you run into this again or have some different feedback

[2021-06-22 14:19] shcheklein commented on #9
@ivyleavedtoadflax hey, to clarify - did you run an experiment and waited with an app and the trends panel open?

@jellebouwman can it be related to us now updating it in "real-time"?

[2021-06-22 15:05] ivyleavedtoadflax commented on #9
I think it was something I looked at after the experiments had already run, but I guess its possible I had a studio tab open with the trends panel open while the experiment was running. It takes over an hour to run, so I certainly wasn't sitting and waiting for it.

[2021-06-22 16:35] Suor commented on #17
Studio intentionally flats it up to make it more easier to display. The effect on filter and search is unintentional though. We'll take a look into it.

[2021-06-23 09:06] mvshmakov commented on #17
@janchk thanks for the report!

Could you please elaborate on what explicitly do you mean by `search and Filter features of DVC Studio isn't operate correctly`. Would be great if you can share specific examples with your expectations.

[2021-06-23 12:15] mvshmakov commented on #15
In order to proceed with this issue, it is better to start with just the ability to collapse a branch. Currently, we have an internal design story about it https://github.com/iterative/viewer/issues/1472, but no progress so far. Should we reprioritize this one and let a designer know that is more of a priority? CC @shcheklein

[2021-06-23 13:13] aguschin opened #18 "Add option to hide unrelated commits"
Currently we show all commits in Studio regardless of the changes in anything we track (parameters, metrics, outputs), but it is a common case when there are a lot of commits which aren't related to any changes in ML stuff. To name a few: changes in CI workflow files, changing documentation, editing configuration files which aren't related to ML model (.gitignore for example), etc, etc.

It may be

[2021-06-24 00:53] shcheklein commented on #15
Can we do something quick here @arcticbear @yalozhkin ?

To collapse commits with a branch we can reuse `more commits` message that we already have? WDYT @mvshmakov ?

To collapse branches we can do something similar - `more branches` I think.

Question here is how do they behave when filters or search are applied. Probably we need a different mode to search all or something.

[2021-06-24 07:07] Suor commented on #15
`more commits` is an extra line, I would prefer collapsed branch use space at the right of its name instead - that one is not used anyway.

As collapsing a branch looks like the most useful part of this I suggest fast track it and decide on the rest later. Collapsed status should be remembered though, otherwise it would be boresome.

**P.S.** Hiding branch may be a viable alternative to collapsing

[2021-06-24 07:19] Suor commented on #18
This was actually present in the initial design. Was deferred for simplicity's sake, we may want to return to this now. Not sure though whether an extra line for a group of hidden commits as we had is the best solution. Maybe some more nuanced design with a hint between the lines and something showing on hover would fit better.

[2021-06-24 07:33] Suor commented on #17
@mvshmakov as I understand it on the picture above the red commit will be a part of master branch but also will have 'some branch' name so filter should work. However, if the red branch would have had more than 1 commit all of them aside from the tip won't be recognized as part of 'some branch' and filter by branch or search won't show them.

So this is not FE only problem we need to adjust how we

[2021-06-24 07:49] janchk commented on #17
@mvshmakov
For example in my repository I have "feature/ST-231-Epic" branch, which is nested or "flatted" and gitlab search works fine.
![2021-06-24_10-39](https://user-images.githubusercontent.com/9109987/123222821-001fae00-d4d9-11eb-9d10-ec952625ff64.png)
But I can't find the same branch in dvc studio interface. Because it does not recognized as one I suppose.
![2021-06-24_10-40](https://user-im

[2021-06-24 15:54] shcheklein commented on #17
Yep, let's address it. I've set as p1.

[2021-06-24 16:01] shcheklein commented on #15
We should though collapse certain branches automatically also.

But I agree that mechanism itself to collapse them is probably the first step here.

[2021-06-25 10:02] daavoo opened #19 "More detailed error report"
When I click on `Show Warnings` I get a list of error messages saying `1 commit(s) failed to parse` but I don't know how to find which commit caused the error or how to get more details:

![Captura de pantalla de 2021-06-25 11-58-53](https://user-images.githubusercontent.com/12677733/123408275-1d25b100-d5ad-11eb-83f6-ef5369a1ea60.png)

I think it would be nice to have the option to see a more deta

[2021-06-25 10:45] Suor commented on #19
If you open the view the error will be next to its commit. If commit is old then it might be hidden in "show more commits" though. There is no way to scroll to it or something like that, however if you don't see the errored commit line it shouldn't matter anyway.

[2021-06-25 10:48] #19 closed, assigned to nobody

[2021-06-25 10:49] daavoo commented on #19
Thanks for the clarification @Suor , So in this case I should just ignore the warning, right?

[2021-06-25 10:54] Suor commented on #19
Yes, you can hide it to not bother you.

Basically this means sometime ago you had a single commit where DVC things were broken somehow, e.g. a broken yaml. However if the broken commit is the last one then you'll probably want to fix that. You can see the same error message simply running `dvc status`.

[2021-06-25 15:27] shcheklein commented on #19
Can we make it clear somehow? I guess other users will have the same question ... add link(s) to the commit?

[2021-06-28 07:01] Suor commented on #19
How do you link to 22 commits? Do we even have links to commits at all? I can start collecting ids though as part of error and serve  it.

Maybe we should simply improve the message instead. So that it will be clear that things mostly work and this is not critical.

[2021-06-28 07:04] Suor commented on #11
The fix was deployed a week ago, closing.

[2021-06-28 07:04] #11 closed, assigned to duijf

[2021-06-28 07:05] Suor commented on #1
Do we plan to do something about it? And what can we do really? Or we simply keeping this for informational pruposes?

[2021-06-28 07:16] Suor commented on #4
Implemented support for `.dvc` in a non-default branch. The things will show as usual, branches without `.dvc` will simply have no metrics nor files, might still have params from `params.yaml`, since that is a default place. For existing repos `Force import` will do.

Deploying now.

[2021-06-28 07:17] #4 closed, assigned to Suor

[2021-06-28 11:17] Suor commented on #17
Researched this a little. And looks like this is not obvious conceptually.

Gitlab searches by branches but we search by commits. Technically starting commits belong to all branches making filtering by branch less useful. If we exclude starting commits then we have a question where is the branch start. Starting from master, i.e. default branch will work for most cases, but not for master + develop

[2021-06-28 16:50] shcheklein commented on #1
Let's keep it as a feature request for now.

[2021-06-28 18:45] mvshmakov commented on #19
We have not yet implemented View commit links yet, but there is an issue with it - https://github.com/iterative/viewer/issues/1525. Linking to several commits is in the scope, but the original idea was to allow selecting only the subset of subsequent commits, while here we may end up with several broken commits across several different branches and the user might not be even interested in fixing a

[2021-06-28 20:47] shcheklein commented on #19
But it's hard to tell is it critical or not, right? Otherwise it seems that it's better to hide it completely.

[2021-06-29 09:06] Suor commented on #19
I would say it is still useful to see. And it might be important if it's in HEAD or in a tip of some recent branch.

[2021-06-30 03:23] Suor commented on #10
Closing this as a support ticket since "save changes" are now more visible. Tracking scope being confusing will be handled separately.

[2021-06-30 03:23] #10 closed, assigned to yalozhkin, arcticbear, ssachkovskaya

[2021-06-30 18:24] janchk opened #20 "Error while accessing gitlab view"
When I try to open gitlab view the following error is prompted:

**Something went wrong**
c[p] is undefined
![smth_wrong](https://user-images.githubusercontent.com/9109987/124011541-ca9f2700-d9e8-11eb-8668-73dda719d9bd.png)

## Expected Behavior
The view have to be displayed.

## Current Behavior
Error instead of a view.

## Steps to reproduce
1. Connect a Gitlab account to Studio
2. Create group

[2021-06-30 19:21] shcheklein commented on #20
Hey, @janchk ! Thanks for the report, we'll be looking into this as soon as possible.

[2021-06-30 20:32] mvshmakov commented on #20
Hello, @janchk, thanks for the bug report!

Are you experiencing the same error at the same Bitbucket-imported repo?

[2021-06-30 21:55] janchk commented on #20
@mvshmakov No. Even gitlab-hosted projects works fine. Except that they are not group related. To be more exact I had project on gitlab that belongs to user, that works fine with DVC.  Then I transferred that exact project to the gitlab group, imported it again, removed the older one and presented problem had happened.

Hope that helps.

[2021-07-01 13:02] Suor commented on #20
Looked into it. It's either FE bug or BE sends something FE doesn't expect. Can you take a look @mvshmakov?

[2021-07-05 11:15] jellebouwman commented on #20
@janchk we have functionality in place to impersonate your user account in the Studio application. We need to use this feature to get to the bottom of this issue - would you be okay with us using this?

[2021-07-05 11:46] janchk commented on #20
@jellebouwman No. I would be NOT okay with this. The project I'm working on is not completely mine. I can answer to any question though. Here or on discord.

[2021-07-05 12:30] mvshmakov commented on #20
@janchk We'll not use this functionality then, thanks for letting us know. We'd do our best to improve our error reporting tools that are not exposing the user's data to any of the staff people.

For now, may I ask you to disable the `uBlock origin` and/or any other adblocking extensions you have in the browser and try to trigger this error again (visit this failed View page)? We'll not receive an

[2021-07-05 12:41] janchk commented on #20
@mvshmakov Done.

[2021-07-06 08:31] mvshmakov commented on #18
We may also have a `toggle unrelated commits` kind of option in the view table header as we do with the `delta`, for instance. Anyway, would be great to have a design input here CC @arcticbear

[2021-07-06 09:42] aguschin commented on #18
We've been discussing something very similar with @arcticbear on the last week. I've summarised the idea in the Notion https://www.notion.so/iterative/Ways-to-view-commits-in-Studio-00f81de787bf4d5b92b756faa87d2e5f
This is more about "what we'll do when we'll have ml models tracked with dvc", but this could be a right direction for us and this particular issue could be solved in more general conte

[2021-07-06 20:10] davesteps opened #21 "Turn off a certain filter without deleting it"
If you have a number of filters set up, sometimes it is nice to be able to turn off a certain filter but at the moment you need to remove it so you lose it completely. It would be nice to be able to disable the filter without deleting it. Thanks!

[2021-07-07 02:21] Suor commented on #21
This might be less needed if we unify search and filter, i.e. if one is able to type in `branch=something` then erasing it and readding is way faster than clicking through the filter popup second time. Additionally we might show history and/or hints in a dropdown for the search field.

[2021-07-07 08:26] davesteps opened #22 "Confusion matrix not plotting correclty"
I have a plots csv file which creates a confusion matrix. It plots correctly when I use `dvc plots show ./confmat.csv` locally. My dvc yaml looks like:

[code]
However, it does not plot correctly in dvc studio, all I get is an empty plot:
![image](https://user-images.githubusercontent.com/5738970/124725919-d153ff80-defc-11eb-9d99-f8be5c830e73.png)

Thanks.

[2021-07-07 12:34] mvshmakov commented on #21
I like the suggestion by Alex, at least GitHub does that, but the current way seems more visual to me. In addition, we would need a big search field in order to show at least a part of the filters in this case.

Against the initial suggestion by David, it seems pretty much a simple thing to do.

[2021-07-07 15:25] shcheklein commented on #22
Made it a p0 since it potentially affects regular workflow (and is aligned with the plots improvements we are making). Thanks @davesteps for reporting this. We'll take a look asap.

[2021-07-07 16:49] mvshmakov commented on #22
So far I see `The input spec uses Vega-Lite v4, but the current version of Vega-Lite is v5.1.0`. But rolling back Vega to the 4th version still results in an incorrectly rendered confusion matrix. Interesting thing is that the vega editor also is unable to render this matrix properly.

[2021-07-08 04:09] Suor commented on #22
@mvshmakov how does `dvc plots show` work then?

[2021-07-08 04:24] Suor commented on #21
We are not required to get rid of filters popup interface, any selections there might be duplicated into search string. Going with small steps is fine of cause, if it's easy to do then let's start with that.

[2021-07-08 08:39] mmeendez8 opened #23 "Add support for combining metrics"
It is always nice to be able to combine different plots from the same experiment. The classical example would be to compare train and validation loss or the relation between learning rate schedule changes and training loss

![image](https://user-images.githubusercontent.com/15969667/124890256-257fe200-dfd8-11eb-82ce-ebea5ae4ac35.png)

[2021-07-08 10:36] Suor commented on #23
As far as I understand you may achieve it with [custom templates](https://dvc.org/doc/command-reference/plots#custom-templates) within DVC. You'll need to write a little vega json or probably copy default one and add something there. Once you'll have it, assigned it to your data file with `dvc plots modify --template` and saved it to git both `dvc plots show` and Studio will show it like this. You

[2021-07-08 10:46] Suor commented on #23
@jorgeorpinel do we officially support such scenario in DVC? If yes maybe we should add this to docs.

[2021-07-08 10:48] mmeendez8 commented on #23
Yes, you are definetely right @Suor. I was just wondering that if this is gonna be the main UI for DVC it might be necessary to find an easier way to achieve this target, specially if you pretend to move users from another popular tools as MLFlow that allow this task.

I can also add that using custom templates could end up in a lot of boilerplate too... you would have to move the same code over a

[2021-07-08 10:48] Suor commented on #22
@mvshmakov we might need to load different versions of vega though depending on schema. Which might be problematic if we have more than one of them for different plots.

[2021-07-08 10:53] Suor commented on #23
Plots in Studio are in an early phase now, we basically show whatever DVC shows. That is the question we haven't resolved yet how far do we want to move away from DVC and what types of things we should add here as opposed to both here and into DVC. Plots in DVC are also evolving.

[2021-07-08 10:57] Suor commented on #23
Thinking of this, some template stored on Studio side - provided by platform or by user or generated via UI - linked to any CSV or JSON or other datafile is a valid use case on its own.

[2021-07-08 11:07] mmeendez8 commented on #23
I see, I was not conscious of this debate.

Yes that would be a plausible solution for keeping studio and DVC "synchronized". Maybe it will make things a bit difficult in the future, I am thinking about the difficulty of handling all those automatically generated files for all plausible combinations... Anyway I get your point, it seems a larger discussion is needed here

[2021-07-08 13:46] ssachkovskaya commented on #22
@Suor there might be some issues with configuration. I was able to load in Studio the config generated by DVC locally and now trying to figure out what's wrong with our configuration. But it looks like the issue on the client-side.

[2021-07-08 14:43] Suor commented on #23
This seems like a common enough case. Making it easier in dvc also makes sense, i.e. providing a more generic template and some extra `dvc plots modify` options. What do you think @dberenbaum? Maybe even adding a possibility to use custom keys within plot props to be passed to template and rendered there - this is to enable users writing their own custom templates, which are generic/reusable.

[2021-07-08 17:37] dberenbaum commented on #23
Thanks @Suor. I don't think a user can do this in dvc now even with custom templates since only a single series is expected. It has come up before and makes sense as a useful feature.

There are a couple ways I can imagine achieving this within dvc:

1. Have training and validation loss in separate files and allowing `dvc plots diff` between the two (or more) files. See https://github.com/iterativ

[2021-07-09 08:51] Suor commented on #23
As far as I can see all the data, i.e. all CSV columns, are passed to vega, so if you hardcode field names there then you can do anything. If data comes from several files then it's not possible though since data file being the plot is part of how even `dvc.yaml` stores it. So option 2 is way easier to implement I believe.

[2021-07-09 18:01] dberenbaum commented on #23
We could do both or figure out what makes more sense for users. Do they want to be able to plot across files or within one file, and which is a better UI?

### Different files

* UI might look like `dvc plots diff --no-index model1_roc.tsv rev:model2_roc.tsv`.
* Natural for something like training and validation data that might be stored separately.
* No obvious way to save this type of plot confi

[2021-07-12 06:15] Suor commented on #23
There is one obvious way - make a notion of a plot independent and make a separate entry in `dvc.yaml` for plots, refer data files, templates and props there for each plot. This was briefly discussed when we implemented plots initially, but it was easier to implement attaching props to data files, also it was argued that that one is more intuitive and closer to how people operate.

Same as now. We

[2021-07-12 10:29] pared commented on #23
Also, that does not seem to make too much sense from DVC perspective. I mean, thats the point of version control, to save things for later use.

The problem here is that on one hand, we would like DVC commands to provide tight integration with git and revisions, so that we can easily compare some assets (that was the initial driving force behind plots, and hence the behaviour of diffing only files

[2021-07-13 05:16] haroldyangui opened #24 "Add a view encounter network error"
After I install the github app and grant permissions to repos, when I add a view, encounter unexpected network error.
The repository is under my working company organization, but I have the permission of admin for those repos, and can see the installed applications.

Trace id xRL1QW2ZG-Fkpu-PtkhLe

![image](https://user-images.githubusercontent.com/57379766/125394609-83e40080-e3dc-11eb-8ca1-1d5a43

[2021-07-13 09:15] ssachkovskaya commented on #22
@davesteps The issue must be resolved now. Please let us know if you still have problems with a confusion matrix.

[2021-07-13 10:33] Suor commented on #24
@haroldyangui Github does not permit listing repositories for your DVC Studio installation, is it possible that installation is suspended or in some other weird state? You may try fixing this by going to your profile in DVC Studio and clicking configure button next to Github App [here](https://studio.iterative.ai/user/_/profile?section=gitIntegrations). You'll be redirected to a page on Github wit

[2021-07-13 10:41] Suor commented on #12
Should be noted probably that on-prem installation of DVC Studio already works with self-hosted Gitlab.

[2021-07-13 10:52] Suor commented on #24
@haroldyangui I also see that you have installed DVC Studio both into your personal and into an organization account. So need to check both. Not sure link above will guide you to both places (how does it work @duijf?), but it should be:

https://github.com/settings/installations and https://github.com/organizations/ORGANIZATION-NAME/settings/installations (Organization page -> Settings -> Installe

[2021-07-13 10:56] duijf commented on #24
@haroldyangui We are receiving this error message from GitHub:

[code]

So it appears that your organization has IP whitelisting configured on GitHub which means that we are not able to fetch the repositories list from Studio. I wasn't aware this was possible, but it seems like this is [a feature](https://docs.github.com/en/organizations/keeping-your-organization-secure/managing-allowed-ip-address

[2021-07-13 11:58] Suor commented on #24
@duijf do you want to take this issue?

[2021-07-13 12:48] #17 closed, assigned to Suor, jellebouwman

[2021-07-13 13:42] duijf commented on #24
Like I posted before, we don't have great error handling capabilities on this page yet. I will proceed with a quick fix to unbreak the create view page for you @haroldyangui so you'll be able to create views for repos outside of this specific GitHub org.

[2021-07-13 18:01] davesteps commented on #22
Many thanks, I'll test it out as soon as I have chance.

On Tue, 13 Jul 2021, 10:15 Svetlana Sachkovskaya, ***@***.***>
wrote:

[2021-07-13 19:04] duijf commented on #24
@haroldyangui A fix to unbreak the "Create view" page for you is scheduled for tomorrow. After the fix, you will still be unable to see the repositories from the org with the IP whitelist, but at least you will be able to add new views for your other repos.

[2021-07-13 21:39] dberenbaum commented on #23
We may be getting ahead of ourselves here. I haven't yet heard of (nor can I think of) a use case where comparing different files from different revisions is actually needed. Doing one or the other may be sufficient.

---

Having a `plots` section at the top level of `dvc.yaml` might happen, but I think the keys are still likely to be file paths for now. If we want to fully decouple plots configur

[2021-07-13 22:59] shcheklein commented on #22
@davesteps closing the ticket for now, please feel free to reopen if it's still doesn't work!

@ssachkovskaya thank you for this quick fix!!

[2021-07-13 22:59] #22 closed, assigned to Suor, ssachkovskaya

[2021-07-14 08:02] Suor commented on #17
Now merged branches should be found via filter and search. However, all the long common start of every branch is not included, i.e. if you look for branch `feature-1` branched out of master only the commits after initial branching out will be shown.

[2021-07-14 11:13] mvshmakov opened #25 "Dangling experiment persists in the view even after the force parsing"
Related https://github.com/iterative/studio-support/issues/20.

After the initial problem, the user has experienced the dangling branch with an experiment that is not even present in the repository. Force import is not helping the situation. It might be related to the GitLab runner logic handling after the experiment run, but it needs to be researched more.

![image](https://user-images.githubuser

[2021-07-14 11:13] mvshmakov commented on #20
The error is resolved as to what @janchk has reported. It was done by making the app more tolerant to the parsed data and by improving error reporting logic, but the source of the problem still present in the app. Filed a new issue for more in-depth research https://github.com/iterative/studio-support/issues/25

[2021-07-14 11:13] #20 closed, assigned to Suor, mvshmakov

[2021-07-14 11:29] duijf commented on #24
@haroldyangui The "Create View" page should be unbroken for you now, but you will still not be able to view / add repositories for this specific organization until:

 - The organization removes the IP whitelisting requirement.
 - We publish a list of our IP addresses for the organization to include in their whitelisting policy.

Hopefully this gives you the chance to try out Studio and see whether

[2021-07-14 11:35] duijf opened #26 "Publish a list of our IP addresses"
In https://github.com/iterative/studio-support/issues/24 we discovered that GitHub Enterprise Cloud has an IP allow-list feature. Administrators of organizations can configure an allow list of IP addresses that can access resources in their organization.

We currently do not publish such a list of IP addresses. Publishing one and supporting it requires a commitment from Iterative + has operational

[2021-07-14 11:38] #24 closed, assigned to duijf

[2021-07-14 14:13] pared commented on #23
So I guess we are discussing here versatility vs user experience. We move targeting data from file_name to column_name. The question is whether there will come time when someone wants to compare `val_loss` with `train_loss`. Then we will be back to discussing very generic approach. Which now is not even `dvc plot diff revision:file_path revision2:file_path` but even `dvc plot revision:file_path:co

[2021-07-14 15:25] mvshmakov commented on #26
Great idea to collect the feedback, @duijf! Should we limit the "poll" by time following with the issue closing, and just wait for the reopen requests in case we don't find enough interest?

[2021-07-14 19:49] shcheklein commented on #24
@duijf thank you for addressing this?

how hard would it be to show that something is wrong with the connection (in the settings page?).

[2021-07-15 10:19] duijf commented on #24
@shcheklein FYI I created this (internal) ticket to show it on the "Create new view" page: https://github.com/iterative/viewer/issues/2317

Having this on the settings page in addition means making external requests when the settings page is loaded or saving the results of the DB + having some sort of refresh mechanism. Both are possible, but it requires some work.

I would start with adding this

[2021-07-16 07:19] duijf commented on #26
Proposal: Let's keep this open for ~90 days and see if there is any activity. We can close it if there isn't any and reopen if there is interest down the line.

If we don't want to leave things open for that long in this repo, maybe we could have another one for feature requests?

[2021-07-16 09:12] mvshmakov commented on #26
@duijf proposal seems wise to me. Though I don't think we need to have another repo for feature requests, it would be very confusing :)

What I suggest instead is to allow GitHub `discussions` feature in this repo for the feature requests that require a discussion/public opinion collection and reserve a `feature request` tag for issues in this repo for the features that are not too hard or uncerta

[2021-07-19 13:19] davesteps opened #27 "Feature Request: make link to github repo open new tab"
Would be nice if link to the associated repo opens up a new tab rather than losing your dvc studio page.

[2021-07-19 13:46] ssachkovskaya commented on #27
Thanks for your request! Did you mean "View on GitHub" or another link?
![image](https://user-images.githubusercontent.com/10098879/126168959-cd25ca5b-8d1c-46f6-a983-7d15bd749ac6.png)

[2021-07-19 14:02] davesteps commented on #27
Sorry, yes that is the link I'm referring too

[2021-07-20 10:55] arcticbear commented on #15
This might be a good feature to minimize the noise in the table. Take a look at the idea below. I've tried to add the small arrow buttons to the left of branch titles with folded and unfolded states. I think this would work. WDYT?

<details><summary>Full table view example</summary>
<img width="960" alt="" src="https://user-images.githubusercontent.com/1275731/126312740-f1f3bb43-bcaa-4bda-80cb-f3d

[2021-07-20 11:37] Suor commented on #15
@arcticbear Looks good for single or several collapsed branches. I see an issues though - if there are dozens or even hundreds of collapsed branches, say automatically, then it won't do. This is why this issue was initially about hiding not collapsing probably.

[2021-07-20 11:56] arcticbear commented on #15
@Suor Yeah got it. This might be the first step, I'll prepare further examples of how we can hide the branches (with UI elements for noticing that to users and with the possibility to show/hide maybe).

[2021-07-20 13:25] arcticbear commented on #21
What do you think if we just add the eye icons to each filter in the list to show/hide them? I hope this one not require complex changes. See in the example below ↓

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/1275731/126331028-dbe19f5f-18c5-4dbf-ad79-6c1789e4086c.png">

[2021-07-20 14:26] davesteps commented on #22
Working now, many thanks.

[2021-07-20 14:47] Suor commented on #21
The eye logic is kind of reverse here, i.e. if filter is active then we hide things. Maybe use some other icon to show that it's working/in effect/applied. Checkbox?

[2021-07-20 14:57] jellebouwman commented on #21
Nice suggestion @arcticbear!

I'd say a toggle works better here. We are using checkboxes for multi selecting commits, and a toggle button for things like the ViewDelta mode 🤔

[2021-07-20 15:34] arcticbear commented on #21
Yeah, I had been thinking about the checkboxes. And I like the idea of using toggles even more. Here are examples of how both options look like in the UI:

<img width="905" alt="image" src="https://user-images.githubusercontent.com/1275731/126352676-1602b5b0-c1e6-48bc-9d91-0d34e5bbe190.png">

[2021-07-21 09:41] Suor commented on #21
Toggles look too heavy for me. Drain too much attention.

[2021-07-22 09:43] ssachkovskaya commented on #27
The fix is available in Studio now. @davesteps thanks again for reporting this and let us know if you find any other related issues!

[2021-07-22 09:43] #27 closed, assigned to ssachkovskaya

[2021-07-22 12:19] arcticbear commented on #21
Yeah, agree. It was worth trying, but the checkboxes look much clear and non-distractive.

[2021-07-27 09:50] jellebouwman commented on #9
@ivyleavedtoadflax you mentioned the error has been fixed for you. A fix for the scenario I described has just been released. I'm closing this ticket as I think all the actions have been completed, but, please, re-open or create a new ticket if you run into anything! Thanks for your feedback and suggestions!

[2021-07-27 09:50] #9 closed, assigned to jellebouwman

[2021-07-28 08:48] Suor commented on #17
**NOTE.** Things should work automatically for all newer repos. Older ones need to be reimported with `Force import` action in their views 3 dots menu.

[2021-07-29 10:05] mattangus opened #28 "Metric Changes/Comparison Sidebar Float Column Headers"
Hi,

When using the comparison mode between two commits I've noticed when using a long list of metrics scrolling makes the column headers disapear. I have to keep scrolling up to remind myself which columns are for which commit. It would be nice to have them float over the data like in the main view showing commit histories.

[2021-07-29 10:15] mattangus opened #29 "Add Support for Notes"
I'm not sure how this would be implemented or if it's possible. But It would be greate to have git notes show up through the UI. Ideally the would be editable as well. Documentation of `git notes` can be found [here](https://git-scm.com/docs/git-notes). This would make tracking experiments through studio a more holistic experience. git notes have some advantages over tags (limited in length and fo

[2021-07-29 20:27] shcheklein commented on #28
Thanks @mattangus ! I love the idea and it makes sense and should be easy to implement!

[2021-07-29 20:29] shcheklein commented on #29
Hey, @mattangus , thanks for the request. Do you already use them in your workflow? Or is it an idea how to support "distributed per-commit comments" that team can do and share?

[2021-07-29 20:42] mattangus commented on #29
Yes it's more about distributed per commit comments, but I was trying to emphasize the adding/editing functionality. Since for example later experiments can teach you things about previous ones and the notes could be updated to reflect that!

[2021-07-29 20:43] mattangus commented on #28
Awesome!

[2021-07-29 21:09] shcheklein commented on #29
Yep, I thinks I understand the use case. I'm trying to better understand if we should use git notes for this or some SaaS storage that we already have in Studio. Do you have any specific pros in mind (or if you already use them) on using git notes for this?

[2021-07-29 21:45] mattangus commented on #29
I don't currently use them. The only benefit I see is that the sources of information would be consolidated, and accessible from the command line.

[2021-08-06 14:01] ssachkovskaya commented on #28
We have improved the scrolling experience when comparing two commits.
@mattangus thanks for your request and let us know if you find any other issues!

[2021-08-06 14:01] #28 closed, assigned to ssachkovskaya

[2021-08-25 10:59] mattangus opened #30 "Update view popup pushes bottom scrollbar off the screen"
When a new commit is added, a popup shows up at the top of the page asking to refresh the view. This popup causes the bottom scrollbar to be pushed off the bottom  of the screen. This means that you first have to scroll down in order to scroll left or right on the metrics panel. This is in contrast to the "Review tracking scope" popup at the top that does not push the bar off the bottom. I think t

[2021-08-27 23:33] shcheklein commented on #25
@mvshmakov @JIoJIaJIu is it done?

[2021-08-30 10:46] jellebouwman commented on #30
Thank you for reaching out to us @mattangus, it's highly appreciated! 🙏 I've opened a PR fixing this bug, I'll report back here when it gets released to production!

[2021-08-30 15:33] janchk commented on #25
Have gotten away from internet for a time. Nope, problem still persists.
![2021-08-30_18-27](https://user-images.githubusercontent.com/9109987/131364851-fa1903ae-10b7-442d-87b9-a5537ee45744.png)
@shcheklein

[2021-08-30 16:05] gurobokum commented on #25
Hello @janchk
The fix was shipped to the production
Could please you provide the steps on how to reproduce the issue you have?

The dangling experiment commits should disappear on page refresh - could you prove it?
We are working yet on hiding it automatically without user actions

[2021-08-31 08:27] janchk commented on #25
@JIoJIaJIu Yes. Problem was solved! I think issue can be closed.

[2021-08-31 10:06] #25 closed, assigned to gurobokum

[2021-09-01 15:47] jellebouwman commented on #30
Thanks for reporting, this fix has been released to production!

[2021-09-01 15:47] #30 closed, assigned to jellebouwman

[2021-09-02 15:54] shcheklein commented on #23
For the record one more user was asking about this feature:

`i want to plot loss and val_loss data in same graph on dvc studio. how do i command plots modify?` cc @dberenbaum - after the images if we have capacity, let's try to think together if we should improve this on the DVC side first or do a custom wizard (potentially with an ability to save its state back into repo) on the Studio side. I t

[2021-09-02 18:43] dberenbaum commented on #23
For reference, see this proposal from @Suor in https://github.com/iterative/dvc/discussions/5980#discussioncomment-1026072:

[code]

[2021-09-14 04:50] shcheklein commented on #21
Toggles also don't contradict the idea about using the search bar and show filters GH style, right? Basically, we can combine best of two approaches - power search string _and_ a visual interface to populate it. Btw, I wonder how it's done on GitLab?

[2021-09-14 21:10] jurv11 opened #31 "SAML/SSO setup for Studio"
How is access set up for organizations with GitHub? Adding this as we had a question from a prospect: "If we have SAML/SSO setup with our GitHub Enterprise Organization, do we also need SAML/SSO setup for DVC Studio, or is access based on repo access within GitHub?"

[2021-09-15 09:23] mvshmakov commented on #31
Hey, @jurv11, thanks for the question!

Currently, we don't have support for the external SAML/SSO identity providers (other then main git providers we work with - GitHub/GitLab/Bitbucket) directly in the Studio, so the flow of user sign-in will look this way:
1) The user authenticates on the GitHub Enterprise through SAML/SSO identity provider.
2) The user authenticates in the DVC Studio using th

[2021-09-16 12:57] tapadipti commented on #15
Below I have tried to organize my thoughts/ideas around collapsing and hiding branches/commits. Pls review/comment.

### Hiding commits and branches:

- If a branch does not have `.dvc` in the latest commit, hide it by default. All other branches should be shown by default. **However, if custom metrics/plots/params have been defined for the view, then do not automatically hide branches without `.d

[2021-09-16 15:49] jdegregorio opened #32 "Non-responsive Tracking Scope Settings"
I have a private view that tracks a project with > 200 tracked metrics/params.  For obvious reasons, the table does not show all of these metrics/data/params in the table, but there appears to be a bug with updating the "Tracking Scope" settings in this situation. I have tried numerous times to adjust the settings to <10 values, or even clear out all tracking scope, but every time the view updates

[2021-09-16 15:52] daavoo commented on #32
Hi @jdegregorio , I assume you are talking about DVC Studio, right?

[2021-09-16 22:46] shcheklein commented on #32
I've increased the priority for this. @jdegregorio we'll try to review this asap.

[2021-09-17 01:03] jdegregorio commented on #32
Yep, sorry I didn't specify.

[2021-09-17 04:23] Suor commented on #32
This seems to me a dup of #10.

@jdegregorio are you trying to use Tracking scope to limit columns showed in a view? The thing is tracking scope is designed to guarantee you columns parsed, it doesn't mean anything not selected won't be parsed and shown. To hide columns you may simply hide/show them on the view page and then save changes (a button at the top) - this won't require reimport and thus

[2021-09-17 12:48] tapadipti commented on #16
@daavoo any thoughts on this?

[2021-09-17 14:31] daavoo commented on #16
Tooltip _and_ the new "file parameter" would be nice.

I would also consider making `rev` the default field to display (if it exists) as it probably means that it has some meaningful information for the user (otherwise they won't be using it).

[2021-09-17 14:43] dberenbaum opened #33 "Tensorboard support"
CML already supports comments that link to public tensorboards on tensorboard.dev, and they have an open issue for self-hosted tensorboards: https://github.com/iterative/cml/issues/607.

It would be nice to provide:
1. Hosting or support for self-hosted private tensorboards.
2. Embedding tensorboards to view in studio.

[2021-09-17 15:59] shcheklein commented on #33
Related: https://github.com/iterative/dvc/issues/5967#issuecomment-833260284

[2021-09-17 16:12] dberenbaum commented on #33
@shcheklein I think you linked to the wrong issue?

[2021-09-17 17:47] shcheklein commented on #33
yep, updated it @dberenbaum

[2021-09-17 19:11] dberenbaum commented on #33
Also related: https://github.com/iterative/dvclive/issues/150

[2021-09-20 06:09] Suor commented on #15
Thanks @tapadipti. I would also add numbers of hidden and filtered out commits, maybe also shown ones. I.e. `Show <number> hidden commits`.

[2021-09-20 13:34] duijf commented on #15
Thanks for writing down this proposal @tapadipti!

What's the use-case for having two different actions here? In what cases would a user prefer one over the other?

Remark on terminology: `show` and `unhide` are very closely related. Using words that are so closely related could get pretty confusing. Are there different names that we could choose? (Sorry for raising such a [bikeshedding](https://e

[2021-09-20 16:38] tapadipti commented on #15
It's basically what you've summarized in your name suggestions - `let me take a quick look` vs `let me add it back to my experiment table`.

👍

[2021-09-21 02:37] shcheklein commented on #15
Excellent summary, @tapadipti ! Ticket name is a bit misleading now. We need to create a separate Story to address this "hiding redundant / uninformative commits / branches ", wdyt?

-------------

A few comments thoughts as I read it:

probably also no changes in params, data, and source code (at least pipeline dependencies). Same metrics is also a result, right?

we should keep in mind custom me

[2021-09-21 10:52] mvshmakov commented on #32
@shcheklein in what way do we want to tackle this issue?

This is not really a p0 because it is not a bug, it is how things are intended to work. The question here is should we add it in the docs/improve messages in the Studio directly or repurpose the whole Tracking Scope idea? The last option has its own complications because it is not that easy to make it work as the users expect, the details a

[2021-09-21 11:06] mvshmakov commented on #15
@tapadipti great summary!

We should also merge somehow the `Show hidden branches` and `Show hidden commits` modals because it will become too inconvenient to toggle one commit and one branch in several actions and may become confusing.

[2021-09-21 12:22] tapadipti commented on #15
@Suor @shcheklein I've updated the [above comment](https://github.com/iterative/studio-support/issues/15#issuecomment-920877320) to include your suggestions (marked in bold).

Will do and update the link here.

We would need to hide branch names in other places in the table?

Will take a look.

@mvshmakov Not sure I understand this. If we hide all commits in a branch when they hide the branch, it

[2021-09-22 14:25] duijf commented on #31
Note that GitHub has two Enterprise related products:

 - GitHub Enterprise Server. Self hosted, "on premise" in AWS/GCP/Azure/some datacenter/...
 - GitHub Enterprise Cloud. Managed by GitHub, hosted on GitHub.com, but still has enterprise features such as SAML support.

Using GitHub Enterprise Server with Studio currently requires an on-prem deployment of Studio.

If GitHub auth for SAML users i

[2021-09-24 18:02] mvshmakov opened #34 "View error: undefined is not an object (evaluating 'i.split')"
The issue happens on the view page and results in the full page error.

[2021-09-28 23:51] shcheklein commented on #23
For the record, we got one more request for this:

https://discord.com/channels/485586884165107732/841856466897469441/892320977323712553

Brief summary, read the whole post for the details:

[2021-09-29 07:56] cagdasbas commented on #23
Hi everyone! My team also used to see the losses of both training and test in the same graph for each iteration (or epoch). I did some tests with current releases, and I believe the problem is with the studio because running `dvc plot show` properly shows the plots on the local browser. Here is what I've done so far.

This is my custom template file:
[code]

This is my plot definition in `dvc.yaml

[2021-09-29 17:51] dberenbaum commented on #23
@cagdasbas Thanks for the detailed info! This is a nice way workaround for getting training and validation onto the same plot. We hope to make this easier than needing a custom template in the future, but glad `dvc plots show` is at least working for you.

If you need a quick fix, I think you could adjust your template to add a facet, like:

[code]

[2021-09-30 11:43] demirhere commented on #34
Is there an update or a temporary workaround to this at least until the issue is resolved? We haven't been able to access the project in Studio since this issue.

<img width="1437" alt="Screen Shot 2021-09-30 at 1 43 00 PM" src="https://user-images.githubusercontent.com/40176533/135449019-90fee03d-c8ef-4200-abe5-ae202282d027.png">

[2021-09-30 11:57] mvshmakov commented on #34
Hello, @demirhere!
Thanks for the report, we are on it and expect a fix to be shipped very soon. I'll let you know about it, sorry for the inconvenience.

[2021-10-01 11:46] mvshmakov commented on #34
@demirhere @cagdasbas the fix is shipped already and we can't see any problems of this type right now. Please, let me know if the problem still exists, or feel free to create a GitHub issue yourself!

[2021-10-01 11:46] #34 closed, assigned to mvshmakov

[2021-10-05 01:45] jorgeorpinel commented on #23
Sorry for a very late reply on that but I also have the impression it's curently possible with a custom template. Can you confirm @pared ? If so it would definitely be nice to have an advance example in https://dvc.org/doc/command-reference/plots if you guys want to contribute a draft! Probably not essential though, especially as this discussion is ongoing and there may be a better way in the near

[2021-10-05 08:16] Suor commented on #23
@ssachkovskaya probably switching off color rewriting if the field there is not rev should work here. And probably a good idea overall. I.e. we don't mess with a template unless it is what we expect.

[2021-10-05 12:06] ssachkovskaya commented on #23
@cagdasbas we have pushed a fix to Studio, so now you should be able to see plots with multiple metrics using the approach suggested by @dberenbaum ([your workaround + facet](https://github.com/iterative/studio-support/issues/23#issuecomment-930407966)). Hope this helps while we are working on this feature.

@Suor good suggestion, however I am not sure how we will merge plots from multiple selecte

[2021-10-05 13:00] cagdasbas commented on #23
Thanks everyone! I couldn't try the fix @dberenbaum suggested. I'll write back as soon as I can.

[2021-10-06 09:49] pared commented on #23
@jorgeorpinel
It seems to be possible, though I think that this won't be an issue after iterative/dvc#5980

[2021-10-08 11:02] mostergaardd commented on #7
We would also be very interested in getting support for Azure especially, as all our code base currently resides there!

[2021-10-12 13:45] shcheklein commented on #12
For the record. @janchk Studio SaaS (studio.iterative.ai) doesn't work with self-hosted GitLab instances yet.

[2021-10-12 13:48] janchk opened #35 "Add possibility to delete failed experiments in DVC Studio"
'Failed experiment' section is kinda annoying to be on the board all the time. Eventually amount of failed experiments is getting bigger.  It would be nice to have some 'delete' button to remove it.

[2021-10-12 13:56] janchk commented on #12
@shcheklein My bad. Got confused.

[2021-10-12 14:09] duijf commented on #35
Thanks for the request! Can see how this would get annoying, we should indeed have the option to delete them.

[2021-10-12 14:12] janchk opened #36 "DVC Studio 'Run new experiment' fields"
It would be nice to have support for multiline text field for experiment configuration.
For example if I need to pass several elements to config in a list, I must write them in one tiny line which is not very convenient.
Here's an example:
[code]
which get  transformed in something like this
![image](https://user-images.githubusercontent.com/9109987/136972510-77760d1d-5fd4-4c44-90b5-1986c5a199b1.p

[2021-10-12 15:27] duijf commented on #36
@janchk Thanks for the request! Do you think this is useful for all experiment inputs or just some of them?

[2021-10-12 16:24] mvshmakov commented on #16
@Suor do we already parse the `rev` and `source` fields and are we able to serve them to FE?

[2021-10-13 05:38] Suor commented on #16
No we don't. We have the same fields for all file fields now - `hash`, `size`, `nfiles`, `flags`, imports are not distinguished.

[2021-10-14 13:55] janchk commented on #36
@duijf I think you could make it optional. Depending on the length of the string. So if the parsed string can't fin into text field, I would have an option to expand it (text field).

[2021-10-19 20:58] mvshmakov opened #37 "Cannot save changes ini the Tracking Scope"
The user has reported that it is not impossible to save that changes in the Tracking scope. This is followed by the error notification.

[2021-10-19 20:59] olivierr42 opened #38 "bug: can't save changes in 'review mandatory columns'"
Steps to reproduce:
1. Open review mandatory columns tab
2. Add/remove columns
3. Click save changes

Error 400: Request failed message shows up in red in the top right.

[2021-10-19 21:01] shcheklein commented on #37
Duplicate https://github.com/iterative/studio-support/issues/38

[2021-10-19 21:01] #37 closed, assigned to mvshmakov

[2021-10-20 10:16] mvshmakov commented on #38
@olivierr42 @AlexandreDuperre thanks for getting in touch and reporting the issue. It was fixed, so I'm closing this issue. If you encounter any other problems, please, create additional issues.

[2021-10-20 10:16] #38 closed, assigned to mvshmakov

[2021-10-20 14:43] jellebouwman commented on #35
@janchk - we've released a new version of Studio that allows you to specifically delete experiments that have failed. You should see a new icon next to the error notification that allows you to perform this action.

<img width="796" alt="Screenshot 2021-10-20 at 16 41 18" src="https://user-images.githubusercontent.com/32744870/138115207-98fdf6df-2fe3-41c0-84d4-1eda9ad87305.png">

---

Closing this

[2021-10-20 14:43] #35 closed, assigned to duijf, jellebouwman

[2021-10-29 11:28] duijf commented on #26
Small update: It seems like GitHub now allows GitHub apps to specify a list of their IP addresses. Don't know when they added this capability, but I hadn't noticed this setting before. This means we can attach a list of our IP addresses to our GitHub app and they will be automatically updated in all organizations with IP whitelisting enabled.

That provides a solution for the annoyance of requirin

[2021-10-29 14:26] daavoo opened #39 "`Trends`: Expand view to make it similar to `Show Plots`"
The current `Trends` view it's not very friendly to use when multiple metrics are selected and used to generate the `Trends.` There is not much room to compare and visualize and I find myself constantly scrolling.

I think that it would be nice to expand `Trends` in order to have a UX similar to the current state of the `Show Plots` view.

---

Background use case:

I have a dataset that gets upda

[2021-11-02 11:56] daavoo opened #40 "`Experiments`: Show status of CI workflows"
Given that:

I think it would be nice to display the status of the CI/CD workflows in order to be able to better monitor the experiments directly from Studio.

[2021-11-12 08:14] duijf commented on #31
Confirmed that GHE Cloud + SAML users works together nicely with our GitHub app. Closing this one, since there is nothing left to do here.

[2021-11-12 08:14] #31 closed, assigned to duijf

[2021-11-16 20:21] karpatika92 opened #41 "Metrics not showing if output is too big"
#  Description

I am using DVC Studio to track metrics of my project. The outputs of the model training stage are
* a csv that contains the test set predictions
* the model
* some plots including a confusion matrix and some linecharts
* a full metrics json that is traced as an output, not a metric (this has too many fields, and is too detailed for display)
* compact_metrics.json that is traced as

[2021-11-16 20:26] karpatika92 commented on #41
![image](https://user-images.githubusercontent.com/30534285/142060321-cb46820c-c5d5-4dfe-8dc7-0911d6d0e956.png)

[2021-11-22 08:01] Suor commented on #41
We have several limits on what we load. In your case it is expected to:
- not load bigger plots
- still load `compact_metrics.json` even in presence of skipped big files

I see that your `compact_metrics.json` resides in a nested dir, and there is at least one more metrics file there. In this case you may see empty or partially empty lines, like on your screenshot, because your metrics file has be

[2021-12-10 14:47] karpatika92 opened #42 "Only show true experiment commits & Declutter UI"
I was delighted by the new update that hid commits that do not change metrics compared to the default branch.

Unfortunately, cosmetic commits and so on are still shown! I'd suggest showing commits that change metrics compared to the previous commit, instead of compared to the head of the default branch! This would declutter the UI a LOT.

Another option would be to only show branch heads by defau

[2021-12-10 14:49] karpatika92 opened #43 "Bug: Changes not reflected in Studio View"
If I change mandatory columns in my project, the change has no effect, and I get the same UI ass before the changes. On the other hand, if I delete the view and create a new one with different mandatory fields, it works.

[2021-12-10 16:12] tapadipti commented on #15
We recently released changes to auto-hide commits that do not change metrics/files as well as manually collapse and hide commits and branches as needed by the user. @aguschin could you pls check if this addresses the issues you raised.

[2021-12-11 00:48] shcheklein commented on #43
@karpatika92 do you have a lot of columns? Most likely, this "mandatory columns" configuration takes effect (confusingly) only if number of columns exceeds our parser threshold - I think it's 200 now. If it doesn't exceed you would usually don't need this since you could use the regular column picker:

<img width="401" alt="Screen Shot 2021-12-10 at 4 47 41 PM" src="https://user-images.githubuserc

[2021-12-13 08:46] aguschin commented on #15
Cool, thanks! Took me to force-update the View from the issue description, but now it looks like everything is ok! Thanks for the huge work on this :)

[2021-12-13 20:32] #15 closed, assigned to arcticbear, mvshmakov

[2021-12-14 13:59] mattangus opened #44 "Feature Request: Branch Comparison Mode"
I currently manage different models (for example `small`, `medium` and `large`). The way that I do this is by having a branch for each model type. Since these models serve different purposes (accuracy/runtime tradeoff) I need to maintain top performing models for each of these types. It would be great to have a mode where DVC studio only displays the `HEAD` of each branch to get a quick comparison

[2021-12-15 06:56] tapadipti commented on #43
Yes, mandatory columns takes effect only when there are more than 200 columns. This is how it works:

@karpatika92 could you pls elaborate your scenario: When you say `the change has no effect`, does it mean that the columns that you marked as mandatory are not visible or that the columns that you did not mark as mandatory are visible. If it's the former, it could be a bug. If it's the latter, can

[2021-12-15 07:24] Suor commented on #43
I suggest we rewrite the logic, i.e. only selected columns are gathered any other are skipped. Whatever we have now we've failed to explained several times. The only downside people will need to reimport stuff if they need to add any new column, which is almost always the case now anyway, since the limit is usually filled.

[2021-12-15 11:59] tapadipti commented on #43
Thanks @Suor
If we change this logic, it'll be good to select up to 200 columns (mark them as mandatory) by default for all new views.
And may be also automatically mark up to 200 columns (including the ones that the user marked as mandatory) as mandatory for all existing views.

[2022-01-03 08:12] tapadipti commented on #43
@karpatika92 We are trying to determine the changes/fixes required to resolve this issue. Could you pls elaborate your scenario: When you said `the change has no effect`, did it mean that the columns that you marked as mandatory were not visible or that the columns that you did not mark as mandatory were visible. If it's the former, it could be a bug. If it's the latter, do you know if you had mor

[2022-01-03 08:17] tapadipti commented on #32
Hi @jdegregorio We are trying to determine the changes/fixes required to resolve this issue.  Some time back, we improved the messaging around `Tracking scope`, which is now called `Mandatory columns`. Could you please let us know if the Mandatory columns (aka, Tracking scope) settings are still confusing/buggy or whether you have been able to hide unnecessary metrics/params as desired?

[2022-01-04 15:26] shcheklein commented on #23
One more request from the user:

https://discordapp.com/channels/485586884165107732/563406153334128681/927839356654346262

@dberenbaum @pared are there plans to implement the proposal?

[2022-01-04 15:42] ssachkovskaya commented on #42
@karpatika92 thanks for reporting the issue! We have released some fixes to hide commits which have no metric or param changes compared to the previous commit. Can you please check and let us know if that's something you expect to see?

[2022-01-04 16:40] dberenbaum commented on #23
Yes, perfect timing since @pared and I were just discussing it when this user posted! @pared is starting work on it now and will share the plans with @Suor and @shcheklein soon. Let us know if there's anyone else to include for initial feedback.

[2022-01-10 17:33] dberenbaum opened #45 "Show pushed DVC experiments"
If a user runs experiments through `dvc exp run` workflow, they may push experiments to GitHub or another git server (via `dvc exp push`). It would be great to see the results of these experiments in Studio.

This may be useful in several scenarios:
* Sharing results with leadership but need to show comparison to other experiments tried. Leaders may need to see other experiments because they need

[2022-01-10 17:33] dberenbaum commented on #45
From https://discord.com/channels/485586884165107732/485596304961962003/930150143259459644:

[2022-01-10 17:36] dberenbaum commented on #45
If it is impossible to detect when new experiment refs have been pushed, IMO it would be acceptable to have users manually request to check for new experiments.

[2022-01-11 10:53] ssachkovskaya commented on #42
Closing this issue as it must be resolved now. It can be reopened later if additional changes are required.

[2022-01-11 10:53] #42 closed, assigned to ssachkovskaya, mvshmakov

[2022-01-28 17:30] TransMux opened #46 "Unexpected Error When Running a new Experiment in Studio"
I just made a commit to my github repository, and tried to **run a new Experiment** in Studio.

I have set up a `Github Action` which will run `CML workflow` in a `self-hosted` server. By Running a new Experiment in Studio, I expect that it will make a commit to my `github repository`, and trigger the Action to run the training process. But then i met the problem.
**The ScreenShot below describes

[2022-01-28 21:10] shcheklein commented on #46
Thanks @InEase for the report, we are looking into this.

[2022-02-01 06:52] amritghimire commented on #46
@InEase The support for python param file is still experimental for dvc (See https://github.com/iterative/dvc/issues/5777).
As a workaround for now, You can use the yaml/toml/json files or class based parameter as illustrated in [example python parameter file](https://dvc.org/doc/command-reference/params#examples-python-parameters-file)
Thanks.

[2022-02-09 12:26] daavoo opened #47 "Sort numerical parameters"
When `Parameters` have numerical values, they are still recognized as a string.

This causes the sorting result to don't match what I would expect:

<img width="1537" alt="Captura de pantalla 2022-02-09 a las 13 22 29" src="https://user-images.githubusercontent.com/12677733/153200367-59f12318-b9f8-477a-9272-d971598df318.png">

The capture comes from applying sorting to the `max_features` param in

[2022-03-01 08:15] tapadipti commented on #18
Studio now auto-hides commits that don't change metrics, hyperparameters or datasets (basically, the ML stuff). Users can also manually hide specific commits that they don't want to keep in the view. @aguschin what else would you like to address here?

[2022-03-01 08:34] tapadipti commented on #23
@dberenbaum @pared could you also include me in the plan/discussion for this. Thanks.

[2022-03-01 10:00] pared commented on #23
@tapadipti I am currently working on that, what would you like to know?

[2022-03-01 17:10] aguschin commented on #18
No, everything looks good! Thanks! Let's close the issue.

[2022-03-01 17:10] #18 closed, assigned to arcticbear

[2022-03-10 14:20] amritghimire commented on #46
We have introduced specific error message for the error above. Changing the priority of the issue since the support for python param file is still experimental.

[2022-03-16 10:21] RR-28023 opened #48 "Can't integrate with my github repos and "Configure" link not working"
Hi,
I can't currently see any of my repos. And then if I click on `Configure Git integration settings` (see below)
![image](https://user-images.githubusercontent.com/36822895/158568109-b0724ab9-e534-44b3-9c34-ff48dc02cde7.png)

I'm directed to this page, but then when I click on the `Configure` button. The link returns a 404 response.

![image](https://user-images.githubusercontent.com/36822895/15

[2022-03-16 10:29] mvshmakov commented on #48
Hey, @RR-28023, thanks for the report!

We recently changed the name of our GitHub App from `DVC Studio` to `Iterative Studio` and this link was not updated, unfortunately. To configure the GitHub App, please, use the following link: https://github.com/apps/iterative-studio/installations/new.

We'll make sure to update the link in the Studio ASAP.

[2022-03-17 08:01] mvshmakov commented on #48
We have fixed the issue. Feel free to open a new issue if the problem persist!

[2022-03-17 08:01] #48 closed, assigned to mvshmakov

[2022-03-28 03:08] Hommus commented on #13
I would very much appreciate this feature!

[2022-04-06 15:05] erudin commented on #16
@daavoo what are you referring to with `source` info, this is the same as the `remote`?

[2022-04-06 17:12] daavoo commented on #16
I didn't use the term `source` but I think it refers to the `url` field that gets stored in `.dvc` file when using `dvc import` (@shcheklein can confirm if this is what he was referring to):

This field gets created for imported `.dvc` files, regardless of whether the `--rev` option was used.

So, running:

[code]

Creates a `cats-dogs.dvc` with the following content:

[code]

ref:  https://dvc.or

[2022-04-06 18:46] erudin commented on #16
Thanks for the explanation and clarification, I'm trying to understand which information should be shown besides `rev` and `url` (in the case that it refers to `source`)

[2022-04-07 06:44] Suor commented on #16
@erudin let's save everything under that `repo` key. Let FE decide what to show.

[2022-04-07 07:13] tapadipti commented on #16
@daavoo For a given imported file, the `url` will remain the same. So, it should be enough to display only `rev`, right? Or should we display `url` also?

[2022-04-07 07:17] Suor commented on #16
If we don't show `url` where one will see it at all? It's true that it will be the same for the column usually - it is still possible that import be removed and readded with a different url to the same place.

[2022-04-07 21:50] daavoo commented on #16
Agree with @Suor comment above. Even if the value doesn't change across rows, the `url` is valuable information that should be visible

[2022-04-18 03:45] jellebouwman opened #49 "React rendering error"
After a recent release, a React error is being thrown on certain views:
https://reactjs.org/docs/error-decoder.html/?invariant=31&args%5B%5D=object%20with%20keys%20%7Bdir%2C%20target%2C%20feature_names%7D - indicating we're incorrectly processing some data.

[2022-04-18 03:47] jellebouwman commented on #49
Currently investigating the cause of this issue.

[2022-04-18 04:13] jellebouwman commented on #49
Able to reproduce the issue, looking into a fix.

[2022-04-18 04:26] jellebouwman commented on #49
Found the location of the bug, testing the fix 👍

[2022-04-18 05:17] jellebouwman commented on #49
A hotfix has been made, we'll hopefully release a new version of Studio today that fixes this issue.

[2022-04-18 15:30] mvshmakov commented on #49
The release containing the fix is deployed.

[2022-04-18 15:30] #49 closed, assigned to jellebouwman

[2022-04-20 12:22] tapadipti commented on #12
Now, Studio supports self-managed GitLab servers. Here's the doc on how you can set this up for your team: [Custom GitLab Server Connection](https://dvc.org/doc/studio/user-guide/connect-custom-gitlab-server)

A quick demo of how to set this up:
![custom_gitlab_gif_new](https://user-images.githubusercontent.com/32855442/164228937-f443080c-115a-482e-a579-22abf6ea4a40.gif)

You can also sign up with

[2022-04-20 12:22] #12 closed, assigned to nobody

[2022-05-02 10:29] ssachkovskaya commented on #47
@daavoo Thanks for you report! The issue must be fixed now.
We just noticed that a menu option is still called `Sort A-Z` for numeric params which we will fix soon, but this is only a UI issue and you can already start using the correct numeric sort.

[2022-05-03 16:23] courentin opened #50 "Multi remote feature"
Hello, we have a dvc repository with 2 remotes and intentionally no default remote. We need that because we have a data residency constraint by region.

Would it be possible to specify multiple data remote by projects?

[2022-05-03 17:03] shcheklein commented on #50
@courentin qq - do you specify remote names in each `.dvc` file / `dvc.yaml` stage outputs?

[2022-05-03 17:16] courentin commented on #50
Yes I do

[2022-05-06 05:41] SathvikNapa opened #51 "Having different names for multiple views created out of the same repository"
Currently, while I create multiple views for the same repository, I am seeing the same name for them.
The use case where different names might be beneficial is when I need to share my experiments with different stakeholders across the board:
1. Peers looking through the experiments and contributing to the project.
2. Managers looking through the metrics and a selected list of experiments that I ca

[2022-05-06 05:48] tapadipti commented on #51
Hi @SathvikNapa You can rename your views after creating them. Open the view settings, and in the first section (`View name`), you can provide a new name for your view and then save the change. Does this resolve your issue?

[2022-05-06 20:05] daavoo commented on #47
Is the change deployed? The sorting doesn't appear to be working properly (from `example-get-started` demo):

<img width="925" alt="Captura de Pantalla 2022-05-06 a las 22 03 38" src="https://user-images.githubusercontent.com/12677733/167209366-12f9845d-83e6-4692-94d2-dbf65e4b2dd9.png">

[2022-05-07 19:15] #51 closed, assigned to nobody

[2022-05-09 03:59] jellebouwman commented on #47
@daavoo the change is deployed - you are probably looking at an older parsed view where these param values are still served to the front-end as strings. Forcing a re-import should enable you to sort these params as numbers - ran into the same issue and it worked for me. 👍

[2022-05-09 03:59] #47 closed, assigned to Suor, ssachkovskaya, amritghimire

[2022-05-25 04:12] casperdcl commented on #13
Related/might be solved by https://github.com/iterative/dvclive/pull/215

[2022-05-30 05:52] yaronno commented on #7
We are waiting for this feature

[2022-06-09 15:41] dberenbaum opened #52 "Bug(?): Hide toggle says commits are hidden even when they are not"
Even when the toggle is set to show hidden commits, the tooltip says commits are hidden, unless I'm misunderstanding. Could it instead toggle to say something like "(6 will be hidden)" when the hidden commits are visible?

<img width="1440" alt="Screen Shot 2022-06-09 at 11 39 08 AM" src="https://user-images.githubusercontent.com/2308172/172888070-f19b352a-57db-426f-b22f-a989657c415f.png">

[2022-06-10 04:26] jellebouwman commented on #52
@dberenbaum thanks - that makes sense! I'll get a quick PR out to address this.

[2022-06-21 03:30] jellebouwman commented on #52
Released on production, closing this ticket.

[2022-06-21 03:30] #52 closed, assigned to jellebouwman

[2022-07-13 12:01] PiotrBB opened #53 "Integration with AWS -> CodeCommit"
Not much to describe here, but I would like to suggest additional integration for teams sitting natively in AWS. Having a built-in integration with CodeCommit would be appreciated.
Thanks!

[2022-07-20 13:57] RajeshThakur123222 opened #54 "DVC studio not able to pic project which is not in root dir of DVC Studio"
Hi DVC Team,

we were exploring the DVC and we found one bug

step to replicate

step1:-
I have my project in github which has the root dir is the root
inside of root dir, we have many projects, one project is related to DVC

but when we are trying to configure DVC studio with our child dir

![image](https://user-images.githubusercontent.com/98795191/180000168-e1665436-c8d6-4895-b448-40380d7e9e3f.

[2022-07-20 13:59] RajeshThakur1 opened #55 "DVC studio not able to pic project which is not in root dir of DVC Studio"
Hi DVC Team,

we were exploring the DVC and we found one bug

step to replicate

step1:-
I have my project in github which has the root dir is the root
inside of root dir, we have many projects, one project is related to DVC

but when we are trying to configure DVC studio with our child dir

![image](https://user-images.githubusercontent.com/46486711/180001050-b8575d1d-50de-479e-8622-9c8c68c5e26f.

[2022-07-20 14:42] shcheklein commented on #55
@RajeshThakur1 thanks for the report. Could you clarify please:

`DVC is picking the URL like <remote_repo><child_dir>`

Where do you see this URL?
Are still able to see the data from the `training_and_deployment_pipeline`?

[2022-07-20 20:24] jorgeorpinel commented on #54
Looks like a dupe of #55 (or vice versa, but there's already some follow-up there).

[2022-07-20 20:24] #54 closed, assigned to nobody

[2022-07-21 12:46] alex000kim commented on #55
@RajeshThakur1 could please post the project tree here? (whatever you are comfortable sharing publically)

[2022-07-26 06:48] Suor commented on #55
I looked into this and it's in a weird state: a real subrepo with `.dvc` dir is managed like a slice. My guess is that there were no `.dvc` in the subdir the first time repo was parsed and Studio failed to recognize that a repo with a subdir is no longer a slice but a real dvc repo once that dir was added - this is a bug in Studio.

Unfortunately simply deleting and recreating the view won't fix t

[2022-08-03 09:24] quantsnus opened #56 "Show only commits that belong to branch (e.g. on main branch)"
When new features or improvements are developed on separate branches and merged therafter, DVC studio shows all the commits for the `master` branch including all intermediate commits from the feature branch.

My expectation is that the `master` branch shows only the changes resulting from the merges, e.g. "the released changes", and not all the mess one might have done during development and debug

[2022-08-04 16:01] courentin commented on #50
Hello, do you have any news on this features? Is there a chance that it gets prioritized or do you have a workaround? :)

Thank you!

[2022-08-04 21:46] shcheklein commented on #50
@courentin no updates yet.

Question. It's the same repo, but do you use separate remotes for different projects within that repository or it's within one repo, within one pipeline you have multiple remotes?

[2022-08-05 08:56] courentin commented on #50
It's one pipeline with multiple remotes.

Basically we have the same pipeline that runs twice thanks to the foreach feature, and each run has a different remote.

Something like:
[code]

[2022-08-05 10:23] tapadipti commented on #56
@quantsnus If you squash merge your changes, then you'll only see one (merge) commit in the `master` branch.

If you don't squash them, then the `master` branch will actually have all these commits, right? I think that if they are hidden, they could cause confusion because they appear in the branch in the repo but not in Studio. What do you think?

@Suor Would Studio be able to identify that these

[2022-08-06 02:06] shcheklein commented on #50
@courentin would it be enough if we allow specifying a remote name (and for now attach only one remote per project still). This way you would be able to create two projects (aka views). Would it solve the problem for now?

[2022-08-06 11:20] courentin commented on #50
That would solve the issue yes!

I'd hope a solution where we'll have only one project for both remotes, so that we avoid duplicating settings and we can easily compare models from different remotes on the long run. But that's a sufficient workaround for now :)

[2022-08-15 06:02] Suor commented on #56
It looks to me the most natural way to solve this is squash merging to master or rebasing a branch before merging, removing all undesired commits during that.

As far as I understand experimenting in a branch and `dvc exp` are alternatives, i.e. `dvc exp` experiments are not commits in any branch. So `dvc exp show` doesn't even show commits in any branch, it shows experiments derived from `HEAD` b

[2022-08-16 13:55] Suor commented on #50
@courentin so we are working on it. No release promises yet, but still should be a good news)

[2022-08-16 18:08] courentin opened #57 "Missing or broken params and/or metrics file(s)"
When force-importing through studio, I got these error for all my commits:
[code]

I've looked at all files on a specific commit and:
- They are all on the default remote
- They don't seem to be broken (ie. I can open those yaml files and json file with python)
- The yaml file is a pretty complex one with yaml references, but is working with `dvc metric diff`

I know that some of these files were

[2022-08-17 06:41] Suor commented on #57
If those files reside in remote then one possible scenario of them being missing if remote configuration or credentials don't work.

[2022-08-17 07:59] courentin commented on #57
I can see their size in the Studio UI, so I guess studio can pull them?

[2022-08-17 09:23] Suor commented on #57
Sizes are stored as a metadata in dvc files, so you don't need an access to cache to see those.

[2022-08-17 10:26] courentin commented on #57
Hum, indeed!
I ran some tests with my credentials, it seems that whatever AWS_ACCESS_KEY and SERCRET KEY I set, I always have the same error.
Looking at the aws console, I see that my key was never used, it seems that studio does not even try to pull the files.
Any ideas?

[2022-08-17 11:56] Suor commented on #57
Need to look into more closely. For now I see `PermissonError`s and `FileNotFoundError`s happening while trying to collect metrics and params.

[2022-08-17 12:21] courentin commented on #57
Seems like I have read access to the s3 dvc repository (`s3:GetObject` and `s3:ListBucket`), should I set other permissions? The "Default encryption" of my bucket is enabled as well.

**UPDATE**: I've set S3 full access to all our buckets and the error still appear after a force import

[2022-08-22 14:36] Suor commented on #57
Still on it, if anyone has this question :)

[2022-08-23 08:37] Suor commented on #57
@courentin I found the culprit. It's `out.remote` feature of dvc you are using. Studio does not currently support it.

I find it problematic to support in a general case. I.e. if you have metric/plot outputs with different remotes it may mean you need different credentials (or even different types of them: s3/gs/...) for different stuff. This means at least two things will need to be solved to sup

[2022-08-23 10:04] courentin commented on #57
Thank you for the investigation!

We use the multi-remote feature to comply with a data residency constraint we have (as described in https://github.com/iterative/studio-support/issues/50).

Each stage are parametrized and we duplicate the pipeline in multiple remotes, something like:
[code]

In our use case this should not happen: all outputs of one stage all have the same remote. Ideally we'd li

[2022-08-23 10:41] Suor commented on #57
So for different stages you still have different remotes? This raises both questions in the prev comment too then.

Studio parses all the stages and all the history. And for now we only work with one remote at a time in Studio.

[2022-08-23 12:12] courentin commented on #57
Yes I do!

Got it! This will be pretty limiting for us if we can't work with multi-remotes.

Maybe the solution suggested in https://github.com/iterative/studio-support/issues/50#issuecomment-1207126034 would solve the issue. Would it work if Studio still continue to work one remote at a time and we handle multi-remote with multiple projects?

[2022-08-23 14:45] pared commented on #57
I will double-check that but considering that `brancher` is still a thing I am afraid you are not wrong.

[2022-08-25 13:42] shcheklein commented on #23
Update. It has been implemented on the DVC side and we are looking now into this on the Studio side.

For docs, see this please `# Combine multiple data sources.` here: https://dvc.org/doc/user-guide/visualizing-plots

[2022-08-29 13:55] Suor commented on #57
This is the one we are working on. The mechanism is there already, the UI is in the process.

For this particular issue, we'll need to update our parsing procedure. Particularly the cache collection/fetching part. I am working on it.

[2022-08-31 05:52] quantsnus commented on #56
@tapadipti

and @Suor

I considered squashing on merging, but we actually have a reason to not squash on merges, as we want to be able to reproduce every step in many cases. This would be more like a workaround for the situation, and requires significant changes in our workflow.

However, on the high level overview (we potentially like to show to management) all the intermediate steps should be hi

[2022-08-31 09:03] tapadipti commented on #56
@quantsnus Thanks for sharing more details. I've created an internal ticket to discuss this. Will keep you updated here.

[2022-09-02 04:01] Suor commented on #57
The fix for this was released, so metrics and plots with remote set to the same as default (`.dvc/config:core.remote`) will be collected now.

The case when `out.remote` is different from a default needs to wait until #50 is shipped. It will still only work if outs remote is the same as selected. I.e. we won't collect from multiple remotes in that case either.

I am closing this since it's working

[2022-09-02 04:02] #57 closed, assigned to Suor

[2022-09-03 11:42] tadejsv opened #58 "Create ad-hoc plots"
I would like to be able to create *graphical* plots, other than those already defined in `dvc.yaml`, inside Studio. The reasoning for this is that I have plots (=csv tables) with many columns, but to avoid general clutter, I only produce 1 or 2 graphical plots from them, showing the metrics that matter the most.

However, when examining the results, I sometimes want to be able to see graphical plo

[2022-09-05 04:07] jellebouwman commented on #50
@courentin I just merged the front-end part of this feature, I'll let you know when we make a new release that adds this functionality!

[2022-09-05 11:50] quantsnus commented on #56
Thanks @tapadipti, I have one more observation for your consideration.

If one hides unwanted commits from the table their metrics still show up in the trend graph. So there is no way, not even manually, cleaning up the trend from failed experiments in the merged main branch.

[2022-09-06 00:34] tapadipti commented on #56
@quantsnus Thank-you for the feedback. The issue with Trends is something we already have in our backlog. We will keep you posted of the status.

[2022-09-06 12:44] jellebouwman commented on #50
@courentin we just released this functionality on production. Please check out the `Data remotes / cloud storage credentials` section of your Project settings page! Let us know if this works for you.

[2022-09-07 10:29] tadejsv opened #59 "Visualize DVC DAG"
Right now, we can visualize DVC DAG in console using `dvc dag` - but it's not very pretty (especially for larger graphs), and contains very little information.

It would be great to display it in Studio! Some info it could include:
- list of dependencies, parameters and outputs for each node
- whether a node is outdated (as some inputs have changed)

[2022-09-08 15:52] courentin commented on #50
Super, thank you very much!
Perfect timing, we planned to work on the multi-region/remote next week, I'll be able to confirm if it solve our issue.

[2022-09-20 22:26] jellebouwman commented on #17
Hi @janchk - just wanted to update you with a slight redesign of the branch filtering features in Studio. We found that it was more straightforward to split the filtering logic into two parts:

- Filter on branch names of branches that are shown in Studio -  `Branch` filter (original behaviour of the `Branch` filter)
- Filter on commits that are found on branches - `Commits on branch` filter (the

[2022-09-22 01:57] tapadipti commented on #56
@quantsnus Now, Trends display only those commits that aren't hidden. Can you pls confirm that it works for you.

[2022-09-23 08:10] quantsnus commented on #56
@tapadipti Thank you, the trend now only shows non-hidden commits, I can confirm that.

I realized, this thread should have been two, because my main request (to automatically hide commits originally from feature branches and only show commits from main branch) is not addressed by this. Are you looking into that one too?

[2022-09-23 11:02] tapadipti commented on #56
@quantsnus we have an internal ticket to look into your original request. But we're not working on it at the moment. I'll ping you here when we work on it.

[2022-09-27 05:53] mehadi92 opened #60 "Could not connet github"
When I click on "connect GitHub" I get an account already in used
![Screenshot from 2022-09-27 11-52-09](https://user-images.githubusercontent.com/104126711/192443819-03d0f9bc-17ec-41d2-bde8-55c5d587471e.png)

[2022-09-27 07:40] mvshmakov commented on #60
Hey, @mehadi92, thanks for the report!

This message means you've already used your GitHub account to log into another Studio account. We don't support connecting a single GitHub account to several Studio accounts. In addition, we currently don't have a "merge accounts" option.

So, to help us solve your issue, could you please answer the following questions:
1. How have you entered the current ac

[2022-09-27 08:53] mehadi92 commented on #60
Hi @mvshmakov,

1st I try to login with GitHub social account, But during login, I miss type my email address so I could not verify the email
2nd I try the login email option, where I give the necessary information and login with my correct email add, and was able to verify this email. From this login when I try to connect the Github I'm getting "An account already in used"

I don't create any pro

[2022-09-27 08:59] mehadi92 commented on #60
@mvshmakov ,

My approach to login in using a social site (GitHub) fails as follows. As you can see I highlighted the wrong email address. I think if I could delete my social login then the problem can be solved. But I can't find any option to delete social login

![Peek 2022-09-27 14-55](https://user-images.githubusercontent.com/104126711/192481311-69ad3950-d00b-4a54-9534-8c560446db6a.gif)

[2022-09-30 07:42] quantsnus commented on #56
Just for you interest, the scenario I outlined previously just happend this week in real life:

![grafik](https://user-images.githubusercontent.com/25102059/193217386-8de7538b-26cd-4f34-8d54-c75a850a0914.png)

[2022-10-03 06:40] mehadi92 opened #62 "Get wrong GCS bucket URL in iterative studio dashboard"
Hi,
I'm using a separate GCS bucket to store data and models. I'm using this command to upload my model file to my GCS bucket
[code]
Here `gcs_model_store` is my GCS bucket name that I configure in `.dvc/config` file. It successfully uploads the model in my GCS bucket. But In the `iterative studio` shows the wrong (dataset gcs bucket name) bucket name.

Here is the screen shoot from iterative stud

[2022-10-03 10:34] courentin commented on #50
I can confirm that metrics are showing up in my other remote, thank you very much!

[2022-10-03 10:34] #50 closed, assigned to Suor, jellebouwman

[2022-10-03 15:51] dacbd commented on #62
What you are doing looks correct to me.
Can you confirm that the object does not exsist in `gs://dvc_multiconer_dataset` and is only in `gs://dvc_models_ner_multiconer` we may transfer this issue to the studio team.

[2022-10-04 02:43] mehadi92 commented on #62
@dacbd I have checked the model file object does not exist in `gs://dvc_multiconer_dataset` but it exist in the `gs://dvc_models_ner_multiconer`

[2022-10-04 10:18] courentin opened #61 "Support top-level plots"
It would be nice if Studio could supports top-level plots.

[2022-10-04 13:54] shcheklein commented on #61
@courentin thanks! we are working on this and it'll be released soon.

[2022-10-04 14:03] mvshmakov commented on #60
@mehadi92 hey!
Could you please try to connect the GitHub once again? We've removed all of your accounts except the Gmail one which should help you.

[2022-10-06 03:04] tapadipti commented on #62
@mehadi92 Thanks for reporting this. We will look into it and get back to you.

[2022-10-06 03:35] mehadi92 commented on #60
Hi, @mvshmakov, I could not log in with my Gmail and the corresponding password. I also try to recover the password option. it also doesn't send me any recovery link. Do I need to signup again with my email?

[2022-11-03 11:22] mvshmakov commented on #60
Hey @mehadi92!

I've tried to reach you in Discord but received no response. What is the best way for us to reach you directly and help?

[2022-11-06 01:39] mehadi92 commented on #60
@mvshmakov I can log in to the iterative studio after re-creating a new account with my email - Thanks.
The best way to reach me is my email `mehadihasan80@gmail.com`

[2022-11-06 01:39] #60 closed, assigned to mvshmakov

[2022-11-28 14:31] dberenbaum opened #63 "Top-level plots images fail"
See https://studio.iterative.ai/user/dberenbaum/projects/example-get-started-67p6ussc8t?panels=plots%2C&commits=5709915%2Cprimary.

<img width="1436" alt="Screenshot 2022-11-28 at 9 20 15 AM" src="https://user-images.githubusercontent.com/2308172/204301174-063dce35-9179-481e-bf59-0ce3fe1848ea.png">

I have checked that the file exists on the remote, which is publicly accessible. Other branches tha

[2022-11-29 11:08] ssachkovskaya commented on #63
@iterative/studio-backend can you please have a look why it cannot be parsed?

[2022-11-29 11:10] ssachkovskaya commented on #61
Top-level plots have been released 🎉  Closing this ticket.

[2022-11-29 11:10] #61 closed, assigned to nobody

[2022-11-29 11:16] ssachkovskaya commented on #23
@dberenbaum @shcheklein @tapadipti Since now top-level plots are supported by Studio, can this issue be closed?

[2022-11-29 15:34] #23 closed, assigned to pared

[2022-11-29 15:50] dberenbaum opened #64 "Top-level confusion matrices failing"
Related to #63 (and maybe to https://github.com/iterative/vscode-dvc/issues/2516).

In https://studio.iterative.ai/user/dberenbaum/projects/example-get-started-67p6ussc8t?panels=plots%2C&commits=5710037%2Cprimary, there should be two confusion matrices shown. Here's the output in `dvc plots show`:

![visualization(12)](https://user-images.githubusercontent.com/2308172/204576114-80bda518-9c13-4a49-

[2022-11-30 12:06] amritghimire commented on #63
@ssachkovskaya

  The error here seems to occur when there is no data for the datasource . Reference: [L225-L231](https://github.com/iterative/studio/blob/fbc4362c58449b33d28773bfe4855081d141821b/backend/repos/parsing/dvcmeat.py#L225-L231) .

We are basically inferring the data source from the dvc and load plot data in studio as in [L180-L183](https://github.com/iterative/studio/blob/fbc4362c58449

[2022-11-30 13:06] dberenbaum commented on #63
`dvc plots show` has no problem getting the data from the remote in CLI.

[2022-11-30 21:21] shcheklein commented on #63
@dberenbaum project is not accessible anymore, could you reproduce and refresh the link and share the link to GH please?

[2022-11-30 21:28] dberenbaum commented on #63
Sorry, project was private. Made it public now. Here's an updated link: https://studio.iterative.ai/user/dberenbaum/projects/example-get-started-67p6ussc8t?panels=plots%2C&commits=5710037%2Cprimary